body {
  line-height: 1.5;
  font-size: 16px;
  color:#1d2c40;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: underline;
    border-bottom: 1px solid wheat;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
h1,h2,h3,h4{
  font-weight:normal;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}